@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply
            inline-flex
            justify-center
            items-center
            px-3
            py-1.5
            border
            text-sm
            font-medium
            rounded-md
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
    }

    .button-full {
        @apply
            w-full
    }

    .button-primary {
        @apply
            border-transparent
            text-white
            bg-blue-600
            hover:bg-blue-700
            focus:ring-blue-500
    }

    .button-secondary {
        @apply
            border-transparent
            text-blue-700
            bg-blue-100
            hover:bg-blue-200
            focus:ring-blue-500
    }

    @media (prefers-color-scheme: dark) {
        .dark .button-primary {
            @apply
                ring-offset-zinc-900
        }

        .dark .button-secondary {
            @apply
                ring-offset-zinc-900
        }
    }
}